<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test1">
    <classes>
     <class name="ConfigurationAnnotations.DBConfig"/>
     <class name="ConfigurationAnnotations.TestDBConnection"/>
     
    </classes>
  </test> <!-- Test -->
  <test name="Test2">
  <classes>
  <class name="ConfigurationAnnotations.TestDBConnection"/>
  <class name="ConfigurationAnnotations.DBConfig"></class>
  </classes>
  </test>
 
</suite> <!-- Suite -->
